%h1 Listing entries

%table
  %tr
    %th Description
    %th Start time
    %th End time
    %th Repeating
    %th Finalized
    %th
    %th
    %th

  - @entries.each do |entry|
    %tr
      %td= entry.description
      %td= entry.start_time
      %td= entry.end_time
      %td= entry.repeating
      %td= entry.finalized
      %td= link_to 'Show', entry
      %td= link_to 'Edit', edit_entry_path(entry)
      %td= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Entry', new_entry_path
