%p#notice= notice

%p
  %b Description:
  = @entry.description
%p
  %b Start time:
  = @entry.start_time
%p
  %b End time:
  = @entry.end_time
%p
  %b Repeating:
  = @entry.repeating
%p
  %b Finalized:
  = @entry.finalized

= link_to 'Edit', edit_entry_path(@entry)
\|
= link_to 'Back', entries_path
