- @page_title = 'Substitutions'
- if @my_subs && @my_subs.size != 0
  %h3 My Posted Substitutions

  %table#my_subs
    %tr
      %th Day
      %th Time
      %th Location
      %th Reserved For
      %th Notes
      %th
    - @my_subs.each do |substitution|
      %tr
        %td= substitution.entry.start_time.strftime('%a, %m/%d')
        %td= substitution.entry.start_time.strftime('%I:%M%p') + ' -  ' + substitution.entry.end_time.strftime('%I:%M%p')
        %td= 'Lab ' + substitution.entry.lab_id.to_s
        - if substitution.users.size == 2
          %td= substitution.users[1].initials
        - else
          %td
        %td= substitution.description
        %td= link_to 'Delete', substitution_path(substitution), :method => :delete, :confirm => 'Are you sure?', :id => 'delete_' + substitution.id.to_s

- if @reserved_subs && @reserved_subs.size != 0
  %h3 Reserved Substitutions
  %table#reserved_subs
    %tr
      %th Select
      %th Day
      %th Time
      %th Location
      %th Posted By
      %th Notes
    - @reserved_subs.each do |substitution|
      %tr
        %td= check_box "dummy", "dummy"
        %td= substitution.entry.start_time.strftime('%a, %m/%d')
        %td= substitution.entry.start_time.strftime('%I:%M%p') + ' -  ' + substitution.entry.end_time.strftime('%I:%M%p')
        %td= 'Lab ' + substitution.entry.lab_id.to_s
        - if substitution.users.size > 0
          %td= substitution.users[0].initials
        - else
          %td
        %td= substitution.description
  <br>
  = link_to 'Take Selected Substitutions', '/'


%h3 Available Substitutions
%table#available_subs
  %tr
    %th Select
    %th Day
    %th Time
    %th Location
    %th Posted By
    %th Notes
  - @available_subs.each do |substitution|
    %tr
      %td= check_box "dummy", "dummy"
      %td= substitution.entry.start_time.strftime('%a, %m/%d')
      %td= substitution.entry.start_time.strftime('%I:%M%p') + ' -  ' + substitution.entry.end_time.strftime('%I:%M%p')
      %td= 'Lab ' + substitution.entry.lab_id.to_s
      - if substitution.users.size > 0
        %td= substitution.users[0].initials
      - else
        %td
      %td= substitution.description
<br>
= link_to 'Take Selected Substitutions', '/'
