- @page_title = 'Post a Substitution'

- user_id = @current_user.id

- if @entries.size == 0
  %h3 You have no shifts to substitute
- else
  %h3 Select a Shift to Substitute
  = form_for @substitution do |f|
    %table
      %tr
        %tr
          %th Select
          %th Day
          %th Time
          %th Location
      - @entries.each do |entry|
        %tr
          %td= f.radio_button :entry, entry.id, :id => "entry_" + entry.id.to_s
          %td= entry.start_time.strftime('%a, %m/%d')
          %td= entry.start_time.strftime('%I:%M%p') + ' -  ' + entry.end_time.strftime('%I:%M%p')
          %td= 'Lab ' + entry.lab_id.to_s
    %h3 Select a user to offer this substitution to (Optional)
    = collection_select(:user, :id, @users, :id, :initials, {:prompt => true})



    = f.hidden_field :from_user, :value => @current_user.id
    = f.label :description, 'Notes about this Substitution'
    <br><br>
    = f.text_area :description, :id => 'Description', :cols => 80, :rows => 10
    <br>
    = f.submit 'Make Substitution'
