- @page_title = 'Post a Substitution'

%h3 Select a Shift to Substitute
%table
  %tr
    %tr
      %th Day
      %th Time
      %th Location
- @entries.each do |entry|
  %tr
    %td= entry.start_tile.to_date
    %td= entry.start_time.to_time.to_s + ' - ' + entry.end_time.to_time.to_s
    %td= 'Lab ' + entry.lab_id.to_s
    %td= radio_button_tag 'Select', entry, @substitution.entry_id == entry.id

= form_for @substitution do |f|
  = f.label :description, 'Title' 
  <br>
  = f.text_field :description
  <br>
  <br>
  <br>
  = f.label :message, 'Notes about this Substitution'
  <br>
  = f.text_area :message
  <br>
  = f.submit
