= form_for @period do |f|
  -if @period.errors.any?
    #error_explanation
      %h2= "#{pluralize(@period.errors.count, "error")} prohibited this period from being saved:"
      %ul
        - @period.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :start_date
    = f.datetime_select :start_date
  .field
    = f.label :end_date
    = f.datetime_select :end_date
  .field
    = f.label :visible
    = f.check_box :visible
  .field
    = f.label :exception
    = f.check_box :exception
  .field
    = f.label :type
    = f.number_field :type
  .actions
    = f.submit 'Save'
