- if @current_user.isAdmin?
  %h1 Listing groups
- else
  %h1 Listing my groups

%table
  %tr
    %th Name
    %th Type
    %th Hour limit
    - if @current_user.isAdmin?
      %th
      %th
      %th

  - @groups.each do |group|
    %tr
      %td= group.name
      %td= group.group_type
      %td= group.hour_limit     
      - if @current_user.isAdmin?
        %td= link_to 'Show', group
        %td= link_to 'Edit', edit_group_path(group)
        %td= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete
      - else
        %td= link_to 'Show', "/groups/#{group.id}"

%br
- if @current_user.isAdmin?
  = link_to 'New Group', new_group_path
