%p#notice= notice

%p
  %b Name:
  = @group.name

%p
  %b Type:
  -if @group.email.nil?
    Not set
  -else
    = @group.email

%p
  %b Type:
  -if @group.group_type.nil?
    Not set
  -else
    = @group.group_type
%p
  %b Hour limit:
  -if @group.hour_limit.nil?
    Not set
  -else
    = @group.hour_limit

%p
  %b Users in group:
  %br
  - @users.each do |user|
    - if @current_user.isAdmin?
      = link_to "#{user.name} (#{user.initials})", user
    -else
      = link_to "#{user.name} (#{user.initials})", "/users/#{user.id}"
    %br
- if @current_user.isAdmin?
  = link_to 'Edit', edit_group_path(@group)
  \|
  = link_to 'Add Users', add_users_path(@group)
  \|
  = link_to 'Back', groups_path
- else
  = link_to 'Back', '/'
