%p#notice= notice

%p
  %b Name:
  = @group.name
%p
  %b Type:
  = @group.group_type
%p
  %b Hour limit:
  = @group.hour_limit

%p
  %b Users in group:
  %br
  - @users.each do |user|
    - if @current_user.isAdmin?
      = link_to "#{user.name} (#{user.initials})", user
    -else
      = link_to "#{user.name} (#{user.initials})", "/users/#{user.id}"
    %br
- if @current_user.isAdmin?
  = link_to 'Edit', edit_group_path(@group)
  \|
  = link_to 'Add Users', "/admin/groups/#{@group.id}/users/add"
  \|
  = link_to 'Add Labs', "/admin/groups/#{@group.id}/labs/add"
  \|
  = link_to 'Back', groups_path
- else
  = link_to 'Back', '/'
