= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field 'activated', :value => 'true'
  .field
    = f.hidden_field 'user_type', :value => Group.find_by_name("All Users").id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :initials
    = f.text_field :initials
  .field
    = f.label "Berkeley UID"
    = f.text_field :cas_user
  .actions
    = f.submit 'Save'
