= weekly_calendar(@events, :date => @date, :include_24_hours => true) do |w|
  = w.week(:business_hours => params[:business_hours], :clickable_hours => true) do |event,truncate|
    =  event.starts_at.strftime('%I:%M%p')
    =  link_to truncate(event.name,truncate), event_path(event)

= weekly_links(:date => @date)
= stylesheet_link_tag("weekly")

%table
  %tr
    %th Type
    %th Name
    %th Email
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.type
      %td= user.name
      %td= user.email
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
