-@page_title = "Users"
= form_tag users_path, :method => "get" do
  = select_tag 'group', options_from_collection_for_select(Group.all, "id","name")
  = submit_tag "Save"
<br/><br/>
Active Users
%table
  %tr
    %th Type
    %th Name
    %th Initials
    %th Phone
    %th Email
    %th
    %th
    %th
  - @users.each do |user|
    %tr
      - if user.isAdmin?
        %td Administrator
      - elsif user.isScheduler?
        %td Scheduler
      - else
        %td Employee
      %td= user.name
      %td= user.initials
      %td= user.phone
      %td= user.email
      %td= link_to 'View user\'s page', user
      %td= link_to 'Modify user', edit_user_path(user)#"/admin/users/edit/#{user.id}"
      %td= link_to 'Availability calendar', calendar_path(user)

%br

Deactivated Users
%table
  %tr
    %th Type
    %th Name
    %th Initials
    %th Phone
    %th Email
    %th
    %th
    %th
  - @deactivatedUsers.each do |user|
    %tr
      - if user.isAdmin?
        %td Administrator
      - elsif user.isScheduler?
        %td Scheduler
      - else
        %td
      %td= user.name
      %td= user.initials
      %td= user.phone
      %td= user.email
      %td= link_to 'View user\'s page', user
      %td= link_to 'Modify user', edit_user_path(user)#"/admin/users/edit/#{user.id}"
      %td= link_to 'Activate user', activate_user_path(user)

%br

= link_to 'New User', new_user_path
