%table
  %tr
    %th Type
    %th Name
    %th Initials
    %th Phone
    %th Email
    %th
    %th
    %th
  - @users.each do |user|
    %tr
      %td= user.user_type
      %td= user.name
      %td= user.initials
      %td= user.phone
      %td= user.email
      %td= link_to 'View user page', user
      %td= link_to 'Edit user', edit_user_path(user)#"/admin/users/edit/#{user.id}"
      %td= link_to 'Delete user', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
