%p
  %b Type:
  = @user.user_type
%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Phone:
  = @user.phone
%p
  %b Initials:
  = @user.initials

= link_to 'Edit', edit_user_path(@user)
