- @page_title = 'Time Off Requests'
%h3 Editing Request

= form_tag time_off_request_url(@time_off_request), :method => :put do

  = label :time_off_request, :start_time, 'Start Time'
  = datetime_select :time_off_request, :start_time , :prompt => true

  = label :time_off_request, :end_time, 'End Time'
  = datetime_select :time_off_request, :end_time, :prompt => true

  = label :time_off_request, 'Reason'
  = text_area :time_off_request, :description

  = submit_tag 'Save Changes'
  
  = link_to 'Back', time_off_requests_path
