- @page_title = 'Time Off Requests'
%h3 New Request

= form_for @time_off_request do |f|

  = f.label 'Start Time'
  = f.datetime_select :start_time , :start_year => Time.current.year, :use_short_month => true

  = f.label 'End Time'
  = f.datetime_select :end_time, :start_year => Time.current.year, :use_short_month => true

  = f.label 'Reason'
  = f.text_area :description

  = f.submit 'Save Changes'
  
