- @page_title = 'Time Off Requests'
%p#notice= notice

%p
 %b
  %h3 Description:
  %div{:style=>"width:350px; word-wrap: break-word;"}= @time_off_request.description
  
- if @view_all
 = link_to 'Edit', edit_time_off_request_path(@time_off_request, :view => "view_all")
 = link_to 'Back', time_off_requests_path(:view => "view_all")
- else
 = link_to 'Edit', edit_time_off_request_path(@time_off_request)
 = link_to 'Back', time_off_requests_path
