= javascript_include_tag "jquery.weekcalendar.js"
= javascript_include_tag "date.js"

-if @calendar.availability? and @current_user.id == @calendar.owner
  <input type='radio' name='entry_type_select' value='prefer' checked>Prefer</input> | 
  <input type='radio' name='entry_type_select' value='rather_not'>R/N</input> | 
  <input type='radio' name='entry_type_select' value='class'>Class</input> | 
  <input type='radio' name='entry_type_select' value='obligation'>Obligation</input> | 

  = button_tag :submit, :id=>:submit_calendar
  = button_tag :validate, :id=>:validate_calendar
  <br>
  = "Changes for #{@start_date.strftime('%b %d, %Y')} - #{@end_date.strftime('%b %d, %Y')} due by #{(@start_date-7.days+17.hours).strftime('%b %d, %Y %I:%M%p')}. Changes made after the deadline will affect the next week."
  

#calendar
#event_edit_container
  = form_tag '/'
  %ul
    %li
      %label{:for=>"start"}Start Time:
      %select{:name=>"start"}
        %option{:value=>""}Select Start Time
    %li
      %label{:for=>"end"}End Time:
      %select{:name=>"end"}
        %option{:value=>""}Select End Time
    %li
      %label{:for=>"entry_type"}Type:
      %select{:name=>"entry_type"}
        %option{:value=>"prefer"}Prefer
        %option{:value=>"rather_not"}R/N
        %option{:value=>"class"}Class
        %option{:value=>"obligation"}Obligation
    %li#description
      %label#description_label{:for=>"description"}Description: 
      %textarea{:name=>"description"}


#validate_container
  %p 
    Option 1 
    %div#option1_status
    %ul
      %li
        Total hours available (45) :
        .validate_total
      %li 
        Week day hours available (15):
        .validate_weekday
      
  %p 
    Option 2 
    %div#option2_status
    %ul
      %li 
        Total hours available (30) :
        .validate_total

  %p 
    Option 3 
    %div#option3_status
    %ul
      %li 
        Week day hours available (25):
        .validate_weekday

