= form_for @calendar do |f|
  -if @calendar.errors.any?
    #error_explanation
      %h2= "#{pluralize(@calendar.errors.count, "error")} prohibited this calendar from being saved:"
      %ul
        - @calendar.errors.full_messages.each do |msg|
          %li= msg
  .hidden_field
  .field
    = f.label :calendar_type
    = f.number_field :calendar_type
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
