- @page_title = 'Calendar Administration'
%h3 Submitted Availability Calendars
%table
  %tr
    %th Owner
    %th Name
    %th Description
    %th Start
    %th End
    %th Last Modified
    %th
    %th
  - @sscalendars.each do |c|
    %tr
      %td= link_to c.user.initials, user_path(c.user)
      %td= link_to c.name, calendar_path(c)
      %td= c.description
      %td= c.period.start_date
      %td= c.period.end_date
      %td= c.updated_at.strftime('%a, %m/%d -- %I:%M%p')
      %td= link_to 'Edit', edit_calendar_path(c)
      %td= link_to 'Delete', c, :confirm => 'Are you sure?', :method => :delete

%h3 Work Calendars
%table
  %tr
    %th Owner
    %th Name
    %th Description
    %th Last Modified
    %th
    %th
  - @wcalendars.each do |c|
    %tr
      %td= link_to c.user.initials, user_path(c.user)
      %td= link_to c.name, calendar_path(c)
      %td= c.description
      %td= c.updated_at.strftime('%a, %m/%d -- %I:%M%p')
      %td= link_to 'Edit', edit_calendar_path(c)
      %td= link_to 'Delete', c, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Calendar', new_calendar_path
