= form_for @preference do |f|
  -if @preference.errors.any?
    #error_explanation
      %h2= "#{pluralize(@preference.errors.count, "error")} prohibited this preference from being saved:"
      %ul
        - @preference.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :hours_min
    = f.select(:hours_min, 10..20)
  .field
    = f.label :hours_max
    = f.select(:hours_max, 10..20)
  .field
    = f.label :hours_pref
    = f.select(:hours_pref, 10..20)
  .field
    = f.label :hours_day
    = f.select(:hours_day, 2..5)
  .field
    = f.label :dispersal
    = f.select(:dispersal, ["A lot in one day","Spread over the week"])
  .field
    = f.label :time_of_week
    = f.select(:timeof_week, ["Weekday","Weekend","Anytime"])
  .field
    = f.label :time_of_day
    = f.select(:timeof_day, ["Morning","Midday","Evening", "Anytime"])
  .field
    = f.label :other
    = f.text_area :other
  .actions
    = f.submit 'Save'
