= form_for @preference do |f|
  -if @preference.errors.any?
    #error_explanation
      %h2= "#{pluralize(@preference.errors.count, "error")} prohibited this preference from being saved:"
      %ul
        - @preference.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :hours_min
    = f.number_field :hours_min
  .field
    = f.label :hours_max
    = f.number_field :hours_max
  .field
    = f.label :hours_pref
    = f.number_field :hours_pref
  .field
    = f.label :hours_day
    = f.number_field :hours_day
  .field
    = f.label :dispersal
    = f.text_field :dispersal
  .field
    = f.label :timeof_week
    = f.text_field :timeof_week
  .field
    = f.label :timeof_day
    = f.text_field :timeof_day
  .field
    = f.label :other
    = f.text_field :other
  .actions
    = f.submit 'Save'
