-@page_title = "Labs"

%table
  %tr
    %th Initials
    %th Name
    %th Max employees
    %th Min employees
    %th Description
    %th Unit
    %th Details
    %th Assign Shifts
    %th
    %th
    %th

  - @labs.each do |lab|
    %tr
      %td= lab.initials
      %td= lab.name
      %td= lab.max_employees
      %td= lab.min_employees
      %td= lab.description
      -if lab.groups.length > 0
        %td= lab.groups[0].name
      -else
        %td
      %td= link_to 'Details', lab
      %td= link_to 'View Schedule', calendar_path(lab.calendar)
      %td= link_to 'Submit a Flatfile', upload_shifts_path(lab.id)
      %td= link_to 'Edit', edit_lab_path(lab)
      %td= link_to 'Destroy', lab, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Lab', new_lab_path
