<!DOCTYPE html>
%html
  %head
    %title CampusScheduler

    = stylesheet_link_tag "application.css"
    
    = csrf_meta_tags
    = javascript_include_tag "application.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"


  %body
    #sizer
      #expander
        #innerwrapper
          #outside
            #banr
              <!-- Link to UC Berkeley home page; do not remove -->
              #ucb
                =link_to "UC Berkeley", "http://www.berkeley.edu"
              #logo
                = link_to image_tag("/img/logo.png", :alt=>"UC Berkeley templates"), root_url

              #topnav
                %ul
                  - if !@current_user
                    %li.first= link_to "CalNet Login", CASClient::Frameworks::Rails::Filter.login_url(controller)
                  - else
                    %li= link_to "My Profile", user_url(@current_user)
                    %li= link_to "CalNet Logout", logout_url
	            
            #pagebody
              #navcol
                %ul#menu-flyout
                  %li
                    = link_to "Calendars", calendars_path
                    %ul
                      %li
                        = link_to "My Calendars", calendars_path
                      %li
                        = link_to "Admin Calendars", calendars_path
                  %li
                    = link_to "Substitutions", substitutions_path
                    %ul
                      %li
                        = link_to "Post a Substitution", new_substitution_path
                      %li
                        = link_to "View Substitutions", substitutions_path
                  %li
                    = link_to "Time Edit", time_edits_path
                    %ul
                      %li
                        = link_to "New Time Edit", new_time_edit_path
                      %li
                        = link_to "View Time Edits", time_edits_path
                  - if not @current_user.nil?
                    - if @current_user.user_type == 0
                      %li
                        = link_to "Admin", users_path
                        %ul
                          %li
                            = link_to "View Users", users_path
                          %li
                            = link_to "Approve Users", '/approve/'

                #addon
              
              #contentcol
                #section
                  #section-txt
                    = @page_title
                  #pstrip
                #content
                  -if flash[:error]
                    #error_explanation
                      %h2= flash[:error]
                  -if flash[:notice]
                    #notice_explanation
                      %h2= flash[:notice]
                
                  = yield
                    
                    
                    
                    
