<!DOCTYPE html>
<html>
<head>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>CampusScheduler</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag  "application.css" %>
  <%= stylesheet_link_tag  "simpleworld.css" %>

  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" %>
  
</head>
<body>
<div id="wrapper">
  <div id="wrapper2">
    <div id="header" class="container">
      <div id="logo">
        <h1><a href="/">Campus<span>Schedule</span></a></h1>
      </div>
      <div id="menu">
        <ul>
          <li><a href="/users">Users</a></li>
          <li><a href="#">Post Sub</a></li>
          <li><a href="#">Take Sub</a></li>
          <li><a href="#">View Schedule</a></li>
          <li><a href="#">Edit Schedule</a></li>
        </ul>
      </div>
    </div>
    
    <div id="page">
      <div id="content">

        <%= yield %>

      </div>
    
      <div id="sidebar">
        <ul>
          <li>
            <div id="search" >
              <form method="get" action="#">
                <div>
                  <ul>
                    <li>
                      <input type="text" name="s" id="search-text" value="username" />
                      <input type="text" name="s" id="search-text" value="password" />
                      <input type="submit" id="search-submit" value="Login" />
                    </li>
                  </ul>
                </div>
              </form>
            </div>
            <div style="clear: both;">&nbsp;</div>
          </li>
        </ul>
      </div>
      <!-- end #sidebar -->
      <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #page -->
    <div id="footer">
      <p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </div>
  </div>
</div>
</div>
</body>
</html>
