<!DOCTYPE html>
%html
  %head
    %title CampusScheduler

    = stylesheet_link_tag "application.css"
    
    = csrf_meta_tags
    = javascript_include_tag "application.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"


  %body
    #sizer
      #expander
        #innerwrapper
          #outside
            #banr
              <!-- Link to UC Berkeley home page; do not remove -->
              #ucb
                =link_to "UC Berkeley", "http://www.berkeley.edu"
              #logo
                = link_to image_tag("/img/logo.png", :alt=>"UC Berkeley templates"), root_url

              #topnav
                %ul
                  - if !@current_user
                    %li.first= link_to "CalNet Login", CASClient::Frameworks::Rails::Filter.login_url(controller)
                  - else
                    %li= link_to "Logged in as " + @current_user.name, user_url(@current_user)
                    %li= link_to "CalNet Logout", logout_url
	            
            #pagebody
              #navcol
                %ul#menu-flyout
                  - if not @current_user.nil?
                    - if @current_user.isAdmin?
                      %li
                        = link_to "Admin", users_path
                        %ul
                          %li
                            = link_to "Periods", periods_path
                          %li
                            = link_to "Calendars", admin_calendars_path
                          %li
                            = link_to "Substitutions", manage_substitutions_path
                          %li
                            = link_to "Users", users_path
                          %li
                            = link_to "Groups", groups_path
                          %li
                            = link_to "Labs", labs_path
                          %li
                            = link_to "Units", units_path
                          %li
                            = link_to "Mr Clean", mrclean_url
                          %li
                            = link_to "Snapshot", snapshot_path
                  %li
                    = link_to "My Calendars", calendars_path
                    %ul
                      - if @current_availability
                        %li
                          = link_to "Current Availability Calendar", calendar_path(@current_availability)
                      - if @current_workschedule
                        %li
                          = link_to "Current Work Calendar", calendar_path(@current_workschedule)
                      - if @current_availability || @current_workschedule
                        %li
                          = link_to "All Calendars", calendars_path
                  %li
                    = link_to "Substitutions", substitutions_path
                    %ul
                      %li
                        = link_to "Post a Substitution", new_substitution_path
                      %li
                        = link_to "View Substitutions", substitutions_path
                  %li
                    = link_to "Time Edits", time_edits_path
                    %ul
                      %li
                        = link_to "New Time Edit", new_time_edit_path
                      %li
                        = link_to "View Time Edits", time_edits_path
                  - if not @current_user.nil?
                    - if @current_user.isAdmin?
                      %li
                        = link_to "Time Off Requests", time_off_requests_path
                    - else
                      %li
                        = link_to "Time Off Requests", time_off_requests_path
                        %ul
                          %li
                            = link_to "New Request", new_time_off_request_path
                          %li
                            = link_to "View Current Requests", time_off_requests_path
                      %li
                        = link_to "My Groups", '/groups'
                #addon
                  - if @current_period
                    <b>Current Period</b> <BR>
                    = @current_period.name
              #contentcol
                #section
                  #section-txt
                    = @page_title
                  #pstrip
                #content
                  -if flash[:error]
                    #error_explanation
                      %h2= flash[:error]
                  -if flash[:notice]
                    #notice_explanation
                      %h2= flash[:notice]
                
                  = yield
- if Rails.env.development?
  %h4 DEBUG THINGS
  - if not @current_user.nil?
    - if @current_user.user_type
      = "Current User Type is " + @current_user.user_type.to_s
    - else
      = "Current User Type is nil"
    = form_tag ('/changeAdmin') do
      = number_field_tag(:user_type)
      = submit_tag("Change User Type")                    
    = session[:cas_user]          
