<!DOCTYPE html>
%html
  %head
    %title CampusScheduler

    = stylesheet_link_tag "application.css"
    
    = csrf_meta_tags
    = javascript_include_tag "application.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"


  %body
    %div#sizer
      %div#expander
        %div#innerwrapper
          %div#outside
            %div#banr
              <!-- Link to UC Berkeley home page; do not remove -->
              %div#ucb
                =link_to "UC Berkeley", "http://www.berkeley.edu"
              %div#logo
                =link_to image_tag("/img/logo-templates.gif", :alt=>"UC Berkeley templates"), root_url

              %div#topnav
                %ul
                  %li.first= link_to "Log in", CASClient::Frameworks::Rails::Filter.login_url(controller)
                  %li= link_to "Log out", logout_url
	            
            %div#pagebody
              %div#navcol
                %div#menu
                  %ul
                    %li= link_to "View Schedule", "#"
                    %li= link_to "Post Sub", "#"
                    %li= link_to "Time Edit", "#"
                
                %div#addon
                  %p Optional extra info
              
              %div#contentcol
                %div#section
                  %div#section-txt
                    Section title
                  %div#pstrip
                
                %div#content
                  = yield
                    
                    
                    
                    
