<!DOCTYPE html>
%html
  %head
    %title CampusScheduler

    = stylesheet_link_tag "application.css"
    
    = csrf_meta_tags
    = javascript_include_tag "application.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"


  %body
    #sizer
      #expander
        #innerwrapper
          #outside
            #banr
              <!-- Link to UC Berkeley home page; do not remove -->
              #ucb
                =link_to "UC Berkeley", "http://www.berkeley.edu"
              #logo
                logo coming later
                link_to image_tag("/img/logo.gif", :alt=>"UC Berkeley templates"), root_url

              #topnav
                %ul
                  - if !session[:cas_user]
                    %li.first= link_to "Log in", CASClient::Frameworks::Rails::Filter.login_url(controller)
                  - else
                    %li= link_to "My Profile", users_url
                    %li= link_to "Log out", logout_url
	            
            #pagebody
              #navcol
                %ul#menu-flyout
                  %li
                    = link_to "Calendars", calendars_path
                    %ul
                      %li
                        = link_to "My Calendars", calendars_path
                      %li
                        = link_to "Admin Calendars", calendars_path
                  %li
                    = link_to "Substitutions", substitutions_path
                    %ul
                      %li
                        = link_to "Post a Substitution", new_substitution_path
                      %li
                        = link_to "View Substitutions", substitutions_path
                  %li
                    = link_to "Time Edit", '/'
                  - if not @current_user.nil?
                    - if @current_user.user_type == 0
                      %li
                        = link_to "Admin", users_path
                        %ul
                          %li
                            = link_to "View Users", users_path
                          %li
                            = link_to "Approve Users", '/approve/'

                %div#addon
              
              %div#contentcol
                %div#section
                  %div#section-txt
                    = @page_title
                  %div#pstrip
                
                %div#content
                  = yield
                    
                    
                    
                    
