<!DOCTYPE html>
%html
  %head
    %title CampusScheduler

    = stylesheet_link_tag "application.css"
    
    = csrf_meta_tags
    = javascript_include_tag "application.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"


  %body
    %div#sizer
      %div#expander
        %div#innerwrapper
          %div#outside
            %div#banr
              <!-- Link to UC Berkeley home page; do not remove -->
              %div#ucb
                <a href="http://www.berkeley.edu">UC Berkeley</a>
              <!-- Website logo -->
              %div#logo
                <img src="/img/logo-templates.gif" alt="UC Berkeley templates" />

              %div#topnav
                %ul
                  <li class="first"><a href="#">Link 1</a></li>
                  <li> <a href="#">Link 2</a></li>
                  <li> <a href="#">Link 3</a></li>
                  <li> <a href="#">Link 4</a></li>
                  <li> <a href="#">Link 5</a></li>
                  <li> <a href="#">Link 6</a></li>
	            
            %div#pagebody
              %div#navcol
                %div#menu
                  %ul
                    <li><a href="#">Link 1 </a></li>
                    <li><a href="#">Link 2 </a></li>
                    <li><a href="#">Link 3 </a></li>
                    <li><a href="#">Link 4</a></li>
                    <li><a href="#">Link 5</a></li>
                    <li><a href="#">Link 6 </a></li>
                    <li><a href="#">Link 7</a></li>
                    <li><a href="#">Link 8 </a></li>
                
                %div#addon
                  <p>Optional extra info</p>
              
              %div#contentcol
                %div#section
                  %div#section-txt Section title (optional)
                  %div#pstrip
                
                %div#content
                  = yield
                    
                    
                    
                    
